/application.properties
/keystore.p12
/keystore.jks
/openssl.cnf
/private.key
/selfsigned.crt
/keycloak_self.crt
/keycloak.json
/keycloak_openEO.json
/collections_odc.json
/collections_wcps.json
/keycloak-ks.jks
/keycloak_openEO_TEST.json
/oidc_providers.json
