<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
        <RollingFile name="ROLLFILE" fileName="${env:OPENEO_LOGS_DIR:-logs}/openeo_1.1.0.log" append="true"
                     filePattern="${env:OPENEO_LOGS_DIR:-logs}/$${date:yyyy-MM}/openeo_1.1.0-%d{MM-dd-yyyy}-%i.log.gz">
		    <EcsLayout serviceName="openeo" serviceNodeName="eurac_op" stackTraceAsArray="true">
		        <KeyValuePair key="jobid" value="$${ctx:jobid}"/>
			    <KeyValuePair key="userid" value="$${ctx:userid}"/>
		    </EcsLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20" fileIndex="min" />
        </RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT">
          <PatternLayout pattern="%p %d{ISO8601} [%t] %r %c %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.openeo.spring.api" level="info"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger name="org.openeo.spring.api.CollectionsApiController" level="warning"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger name="org.openeo.spring.api.CredentialsApiController" level="debug"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger> 
		<Logger name="org.openeo.spring.api.JobsApiController" level="debug"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger name="org.openeo.wcps.WCPSQueryFactory" level="debug"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger name="org.openeo.wcps.HyperCubeFactory" level="debug"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger name="org.openeo.spring.components.JobScheduler" level="debug"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger name="org.openeo.wcps.UDFFactory" level="debug"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger name="org.openeo.wcps.JobResultScheduler" level="debug"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger name="org.openeo.wcps.JobResultDeletion" level="debug"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger name="org.openeo.spring.api.ApiFilter" level="error"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger name="org.openeo.spring.dao" level="error"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger name="org.openeo.wcps" level="debug" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger name="org.openeo.spring.model.Process" level="error"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger name="org.openeo.spring.model" level="error"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger name="org.openapitools" level="error"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger name="org.hibernate" level="error" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger name="org.hibernate.SQL" level="error"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger name="org.hibernate.type.descriptor.sql" level="error"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger name="org.keycloak" level="trace" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Logger
			name="org.openeo.spring.OpenEOKeycloakAuthenticationProcessingFilter"
			level="trace" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLFILE" />
		</Root>
	</Loggers>
</Configuration>
